#define TCOMBO(NAME, BINDINGS, LEFT_THUMB_BINDINGS, RIGHT_THUMB_BINDINGS, BOTH_BINDINGS, LEFT_KEYPOS, RIGHT_KEYPOS) \
combo_l_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <LEFT_KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_ll_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <LEFT_THUMB_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LOT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_lr_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <RIGHT_THUMB_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LIT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_lb_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BOTH_BINDINGS>; \
	key-positions = <LEFT_KEYPOS LIT LOT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_r_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BINDINGS>; \
	key-positions = <RIGHT_KEYPOS>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_rl_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <LEFT_THUMB_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS RIT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_rr_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <RIGHT_THUMB_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS ROT>; \
	layers = <COMBO_LAYERS>; \
}; \
combo_rb_##NAME { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <BOTH_BINDINGS>; \
	key-positions = <RIGHT_KEYPOS RIT ROT>; \
	layers = <COMBO_LAYERS>; \
};

/*
 * Thumb mapping is defined from the left-half requirements in the DOCX:
 * - LEFT_THUMB_BINDINGS  = "Лев. тамб" column
 * - RIGHT_THUMB_BINDINGS = "Прав. тамб" column
 *
 * Right-half behavior is implemented as a mirror reflection of the left half:
 * - left thumb of the right half  = RIT (inner, toward the keyboard center)
 * - right thumb of the right half = ROT (outer, toward the keyboard edge)
 */

combo_l_space { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp SPACE>; \
	key-positions = <LIT>; \
	layers = <COMBO_LAYERS>; \
};

combo_r_space { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp SPACE>; \
	key-positions = <ROT>; \
	layers = <COMBO_LAYERS>; \
};

combo_l_bspc { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp BSPC>; \
	key-positions = <LOT>; \
	layers = <COMBO_LAYERS>; \
};

combo_r_bspc { \
	timeout-ms = <COMBO_TIMEOUT>; \
	bindings = <&kp BSPC>; \
	key-positions = <RIT>; \
	layers = <COMBO_LAYERS>; \
};
//    (name,   press,      left thumb,      right thumb,    both,          chord,       chord)
TCOMBO(B,      &kp B,       &kp LEFT,       &kp LS(B),     &kp LS(LEFT),  TLP,         TRP)
TCOMBO(F,      &kp F,       &kp UP,         &kp LS(F),     &kp LS(UP),    TLR,         TRR)
TCOMBO(T,      &kp T,       &kp DOWN,       &kp LS(T),     &kp LS(DOWN),  TLM,         TRM)
TCOMBO(J,      &kp J,       &kp RIGHT,      &kp LS(J),     &kp LS(RIGHT), TLI,         TRI)
TCOMBO(H,      &kp H,       &sk LGUI,       &kp LS(H),     &kp HOME,      BLP,         BRP)
TCOMBO(C,      &kp C,       &sk LALT,       &kp LS(C),     &kp PG_UP,     BLR,         BRR)
TCOMBO(N,      &kp N,       &sk LCTRL,      &kp LS(N),     &kp PG_DN,     BLM,         BRM)
TCOMBO(Y,      &kp Y,       &sk LSHIFT,     &kp LS(Y),     &kp END,       BLI,         BRI)
TCOMBO(D,      &kp D,       &kp N1,         &kp LS(D),     &kp F1,        TLP TLI,     TRP TRI)
TCOMBO(K,      &kp K,       &kp N2,         &kp LS(K),     &kp F2,        BLP BLI,     BRP BRI)
TCOMBO(R,      &kp R,       &kp N3,         &kp LS(R),     &kp F3,        BLP BLR,     BRP BRR)
TCOMBO(V,      &kp V,       &kp N4,         &kp LS(V),     &kp F4,        BLM BLI,     BRM BRI)
TCOMBO(L,      &kp L,       &kp N5,         &kp LS(L),     &kp F5,        TLP TLR,     TRP TRR)
TCOMBO(G,      &kp G,       &kp N6,         &kp LS(G),     &kp F6,        TLM TLI,     TRM TRI)
TCOMBO(E,      &kp E,       &kp N7,         &kp LS(E),     &kp F7,        BLR BLM,     BRR BRM)
TCOMBO(Z,      &kp Z,       &kp N8,         &kp LS(Z),     &kp F8,        TLR TLM,     TRR TRM)
TCOMBO(S,      &kp S,       &kp N9,         &kp LS(S),     &kp F9,        BLP BLM,     BRP BRM)
TCOMBO(M,      &kp M,       &kp N0,         &kp LS(M),     &kp F10,       BLR BLI,     BRR BRI)
TCOMBO(U,      &kp U,       &kp EXCL,       &kp LS(U),     &kp F11,       TLP TLM,     TRP TRM)
TCOMBO(P,      &kp P,       &kp AT,         &kp LS(P),     &kp F12,       TLR TLI,     TRR TRI)
TCOMBO(COMMA,  &kp COMMA,   &kp HASH,       &kp LS(COMMA), &none,         TLP BLI,     TRP BRI)
TCOMBO(X,      &kp X,       &kp DLLR,       &kp LS(X),     &none,         BLP TLI,     BRP TRI)
TCOMBO(Q,      &kp Q,       &kp PRCNT,      &kp LS(Q),     &none,         TLP BLM,     TRP BRM)
TCOMBO(LBKT,   &kp LBKT,    &kp CARET,      &kp LS(LBKT),  &none,         BLR TLI,     BRR TRI)
TCOMBO(SEMI,   &kp SEMI,    &kp AMPS,       &kp LS(SEMI),  &none,         BLP TLM,     BRP TRM)
TCOMBO(I,      &kp I,       &kp STAR,       &kp LS(I),     &none,         TLR BLI,     TRR BRI)
TCOMBO(DOT,    &kp DOT,     &kp LPAR,       &kp LS(DOT),   &none,         TLP BLR,     TRP BRR)
TCOMBO(W,      &kp W,       &kp RPAR,       &kp LS(W),     &none,         TLI BLM,     TRI BRM)
TCOMBO(O,      &kp O,       &kp SLASH,      &kp LS(O),     &none,         TLR BLM,     TRR BRM)
TCOMBO(SQT,    &kp SQT,     &kp QMARK,      &kp LS(SQT),   &none,         TLM BLR,     TRM BRR)
TCOMBO(A,      &kp A,       &kp MINUS,      &kp LS(A),     &none,         TLM BLI,     TRM BRI)
TCOMBO(RBKT,   &kp RBKT,    &kp UNDER,      &kp LS(RBKT),  &none,         TLR BLP,     TRR BRP)
TCOMBO(GRAVE,  &kp GRAVE,   &kp EQUAL,      &kp LS(GRAVE), &none,         TLR TLM TLI, TRR TRM TRI)
TCOMBO(NUBS,   &kp NUBS,    &kp PLUS,       &kp LS(NUBS),  &none,         BLR BLM BLI, BRR BRM BRI)
TCOMBO(DEL,    &kp DEL,     &kp LC(DEL),    &none,         &none,         TLR BLR,     TRR BRR)
TCOMBO(ESC,    &kp ESC,     &kp N1,         &none,         &none,         TLM BLM,     TRM BRM)
TCOMBO(TAB,    &kp TAB,     &kp LC(TAB),    &kp LA(TAB),   &none,         TLP BLP,     TRP BRP)
TCOMBO(ENTER,  &kp ENTER,   &none,          &kp LS(ENTER), &none,         TLI BLI,     TRI BRI)
TCOMBO(boot,   &none,       &ext_power EP_OFF, &none,      &bootloader,   TLP TLR TLM TLI,     TRP TRR TRM TRI)
TCOMBO(BT,     &bt BT_SEL 0,&bt BT_SEL 2,   &bt BT_SEL 1,  &bt BT_CLR,    BLP BLR BLM BLI,     BRP BRR BRM BRI)
